body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 600px;
  background-image: url("/img/background.jpg");
  background-size: cover;
  align-items: center;
  font-family: Gill Sans;
}

.login{
  background-color: white;
  width: 350px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}
.login h2{
  margin: 0 0 20px;
  width: 100%;
  margin-bottom: 25px;
}
.login .input-group{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.login .input-group input{
  height: 30px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 15px;
  border: 3px solid black;

}
.login .input-group span{
  position: absolute;
  top: -25px;
  left: 10px;
  padding: 0px;
  text-transform: capitalize;
}
.btn{
  background-color: darkorange;
  text-transform: uppercase;
  width: 35%;
  color: black;
  font-weight: bold;
}